

<div class="application-container">
  {{#if session.isAuthenticated}}
    <button class="button is-dark sign-out-btn" {{action 'signOut'}}>Sign Out</button>
  {{/if}} 
  {{partial 'navbar'}}

  <div class="outlet-container">
  {{outlet}}

  </div>



</div>

