<div class="application-container">
  {{partial 'navbar'}}
  {{outlet}}

{{!-- {{currentRouteName}}

{{#if session.isAuthenticated}}
   <button {{action 'signOut'}}>Sign Out</button>
{{/if}} --}}

</div>

